/***** NAV *****/

nav {
    display: flex;
    min-height: 5rem;
    justify-content: space-around;
    align-items: center;
    flex-basis: 60%;
}

.nav-left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-shrink: 1;
    flex-grow: 1;
}

.nav-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 2;
    flex-grow: 2;
}

#logo {
    display: block;
    text-align: center;
    padding: 3% 10%;
    font-weight: bold;
    font-size: 5em;
    text-decoration:none;
    font-family: 'Alex Brush', Arial, Helvetica, sans-serif;
    color: rgb(34, 34, 34);
}

nav>div>button {
    margin-left: 10%;
    margin-right: 10%;
}

.tabs {
    display: flex;
}

.tabs>a {
    padding: 1rem 2.5rem;
    flex: 0 1 auto;
    color: rgb(34, 34, 34);
    border-bottom: 5px solid rgb(25, 95, 54);
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
}

.tabs>a:hover {
    color: rgb(26, 151, 78);
    border-bottom: 5px solid rgb(26, 151, 78);
    font-weight: bolder;
}

a>#brcolor {
    text-decoration: underline;
    font-weight: bolder;
    color:rgb(26, 151, 78);
}