<div class="row justify-content-evenly">
    <div class="col-4 align-self-center">
        <p id="redes">Seguime en las redes sociales:</p>
        <ul>
            <li><a href="https://www.facebook.com/nicobenialgo/"><img src="../../../assets/facebook-icon.svg" class="nav-link" id="facebook" title="Facebook"></a></li>
            <li><a href="https://www.instagram.com/nicobenialgo/"><img src="../../../assets/instagram-icon.svg" class="nav-link" id="instagram" title="Instagram"></a></li>
            <li><a href="https://www.linkedin.com/in/nicobenialgo"><img src="../../../assets/linkedin-icon.svg" class="nav-link" id="linkedin" title="LinkedIn"></a></li>
            <li><a href="https://github.com/NicoBenialgo"><img src="../../../assets/github-icon.svg" class="nav-link" id="github" title="GitHub"></a></li>
        </ul>
    </div>
    <div class="col-4 align-self-center">
        <p>Nicolas Federico Benialgo.</p>
        <p>Programando desde el año 2014.</p>
        <p>Avanzando de a poco...</p>
    </div>
</div>
