* {
    background: url("../../../assets/background-main.jpg") no-repeat center;
    background-attachment: fixed;
}

body {
    filter: brightness(50%);
}

/***** IMAGEN *****/ 

figure img {
    width: 650px;
    margin: 100px 0;
    outline: 30px solid #ddd;
}

figure>figcaption {
    font-style: italic;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    color: #ddd;
}