@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Dosis&family=Oswald:wght@600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #222;
}

header {
    background-color: #222;
}

footer {
    background-color: rgb(28, 1, 39);
}